Repository GoogleCloudPlatform/gke-networking-demos, pull requests merged in 2019-03, with the labels that each got.

#23 Bumping version to try 1.12.x
  clusters/cluster.yaml
  verify-functions.sh
Labels: approved, cla: yes, gke-helmsman, lgtm, size/S

#24 Removed Prerequisites section from README-QWICKLABS.md in subdirectory gke-to-gke-vpn/
  gke-to-gke-vpn/README-QWICKLABS.md
Labels: approved, cla: yes, gke-helmsman, lgtm, size/M

#25 Fixed Qwiklabs readme title
  gke-to-gke-vpn/README-QWIKLABS.md
Labels: approved, cla: yes, gke-helmsman, lgtm
